* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  position:sticky;
  top:0;
  overflow:visible;
  z-index: 1000;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  margin: 0;
  min-height:100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 30px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display:block;
  align-items: center;
  color:black;
}

nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width:100%;
}
.menu-button{
  display:none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .menu-button{
    display:block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width:100%;
  }
}

.col-lg-4{
padding: 1rem;
width: 100%;
background-color: #4cb9ec;
border: 1px solid white;
text-align: center;
overflow: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-lg-4 {background: greenyellow;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-lg-4 {background: cornflowerblue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-4 {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-lg-4 {background: pink;}
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .card-img-top{height: 60vw;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {height: 22vw;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {height: 22vw;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-top {height: 24vw;}
}