
.col-lg-4{
padding: 1rem;
width: 100%;
background-color: #fefefe;
box-sizing: border-box;
border: 1px solid black;
text-align: justify;
margin: 0%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-lg-4 {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-lg-4 {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-4 {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-lg-4 {background: pink;}
}