*, ::before,
::after {
  margin:0;
  padding:0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family:
    'Google Sans',
    /* Newer browsers */
    system-ui,
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome < 56 for OS X (San Francisco) */
    BlinkMacSystemFont,
    /* Windows */
    'Segoe UI',
    /* Android */
    Roboto,
    /* Basic web fallback */
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif,
    /* Emoji fonts */
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  min-height:100vh;
  min-height: 100dvh;
  font-family: 'Google Sans', sans-serif;
}

header {
  position:sticky;
  top:0;
  overflow:visible;
  z-index: 1000;
  background-color: white;
  margin:0; padding:0;
  width:100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container-nav {
  max-width: min(96%, 1140px); 
  margin: 0 auto;
}

.font-effect-neon{
  font-size:1.25rem;
}

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  
}

nav ul {
  display:flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin:0;
  padding:0;
}

nav li {
  position: relative;
  box-sizing: border-box;
  pointer-events: auto;
  font-size:1.25rem;
}

nav a {
  height: 100%;
  padding: 3vh 3vh;
  text-decoration: none;
  display:block;
  align-items: center;
  color:black;
}

nav a:hover{
  background-color: #f0f0f0;
}

nav li:first-child{
  margin-left: 0;
}

.sidebar{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
}
.sidebar li{
  width:100%;
}
.menu-button{
  display:none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .menu-button{
    display:block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width:100%;
  }
}

.hero-content{
  max-width: 100%;
  padding: 0 5vh;
  justify-content: center;
  object-position: center;
  overflow: hidden;
}

.card-img-home{
    width: 100%;
    height: 48vh;
    object-position: center;
    object-fit: cover;
    margin-top: -4vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .card-img-home{height: 80vw;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-home {height: 34vw;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-home {height: 30vw;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-home {height: 30vw;}
}

.col-lg-4{
padding: 1rem;
width: 100%;
background-color: #4cb9ec;
border: 1px solid white;
text-align: center;
overflow: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-lg-4 {background: greenyellow;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-lg-4 {background: cornflowerblue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-4 {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-lg-4 {background: pink;}
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .card-img-top{height: 60vw;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {height: 22vw;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {height: 22vw;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-top {height: 24vw;}
}